body {
    background-image: url('Images/lightblue.jpeg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f9fc;
}

header {
    padding:60px;
    text-align: center;
    color: white;
    background-color: #132e8a;
    position:relative;
}
    header .logo {
        width: 80px; 
        height: auto; 
        display: block;
        margin: 0 auto 10px; 
        float: left;
        border-radius: 20px;
    }

header h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

nav{
    text-align:center;
    background-color: #00bbff;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: #333;
    display: inline-flex;
}

    nav ul li {
        position: relative;
    }

        nav ul li a {
            display: block;
            color: white;
            padding: 14px 20px;
            text-decoration: none;
        }

            nav ul li a:hover {
                background-color: #4bb4be;
            }

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

    .dropdown-content a {
        display: block;
        color: #000000;
        padding: 12px 16px;
        text-decoration: none;
    }

        .dropdown-content a:hover {
            background-color: #4bb4be;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    text-align: center;
    padding: 20px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: coral;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
.products {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center; 
    gap: 20px;
    padding: 30px;
    overflow-x: auto; /* хоризонтален скрол(търпи промяна) */
}
.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
    .product-card:hover {
        transform: translateY(-5px);
    }

    .product-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .product-card h3 {
        margin: 10px 0 5px 0;
        font-size: 18px;
        color: #333;
    }

    .product-card p {
        margin: 0;
        color: #666;
        font-size: 14px;
    }
footer {
    background-color: #132e8a;
    color: white;
    text-align: center;
    padding: 30px;
}
