body {
    background-image: url('Images/lightblue.jpeg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f9fc;
}

header {
    padding:60px;
    text-align: center;
    color: white;
    background-color: #132e8a;
    position:relative;
}
    header .logo {
        width: 80px; 
        height: auto; 
        display: block;
        margin: 0 auto 10px; 
        float: left;
        border-radius: 20px;
    }

header h1 {
    margin: 0;
    font-size: 28px;
    color: white;
}

nav {
    text-align: center;
    background-color: #FF8C42;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: #333;
    display: inline-flex;
}

    nav ul li {
        position: relative;
        background-color: #FF8C42;
    }

        nav ul li a {
            display: block;
            color: white;
            padding: 14px 20px;
            text-decoration: none;
        }

            nav ul li a:hover {
                background-color: #4bb4be;
            }

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

    .dropdown-content a {
        display: block;
        color: #000000;
        padding: 12px 16px;
        text-decoration: none;
    }

        .dropdown-content a:hover {
            background-color: #4bb4be;
        }

.dropdown:hover .dropdown-content {
    display: block;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: coral;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
.products {
    display: flex;
    flex-wrap:wrap; 
    justify-content: center; 
    gap: 20px;
    padding: 30px;
    /*overflow-x: auto;*/ /* хоризонтален скрол(търпи промяна) */
}
.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
    .product-card:hover {
        transform: translateY(-5px);
    }

    .product-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .product-card h3 {
        margin: 10px 0 5px 0;
        font-size: 18px;
        color: #333;
    }

    .product-card p {
        margin: 0;
        color: #666;
        font-size: 14px;
    }
    /**/
.about-container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.info-table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
}

    .info-table th {
        background: #00bbff;
        color: white;
        padding: 12px;
        text-align: left;
    }

    .info-table td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .info-table tr:hover {
        background: #eefaff;
    }

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

    .contact-form input,
    .contact-form textarea {
        padding: 10px;
        border: 1px solid #bbb;
        border-radius: 6px;
        font-size: 16px;
        width: 100%;
    }

.send-btn {
    background: #00bbff;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

    .send-btn:hover {
        background: #0288cc;
    }

/**/
.hero {
    text-align: center;
    padding: 20px;
}

    .hero img {
        width: 250px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin: 5px;
    }

.categories {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    text-align: center;
}

    .categories img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
    }
    footer {
        background-color: #132e8a;
        color: white;
        text-align: center;
        padding: 30px;
    }
